:root {
    --font-sans: 'Ubuntu Light', sans-serif;
    --font-mono: 'Ubuntu Mono', monospace;
    --font-icon: 'UbuntuMono Nerd Font', monospace;

    color-scheme: dark;

    /* One Dark color palette */
    --color-yellow: #E5C07B;
    --color-cyan: #56B6C2;
    --color-blue: #61AFEF;
    --color-orange: #D19A66;
    --color-purple: #C678DD;
    --color-green: #98C379;
    --color-red: #E06C75;
}
